/* body {
    margin: 0;
    padding: 0;

    background-color: rgb(233, 200, 166);
    height: 100vh;
} */


body {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(51,51,51,1) 25%, rgba(255,255,255,1) 100%);
   
  }

main {
    /* height: 100vh; */
    margin-bottom: 110px;
}

  

/* skušanie vedla seba */


  /* zatial najkrajší img layout */

  @import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
.snip1482 {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 10px 20px;
  min-width: 230px;
  max-width: 400px;
  min-height: 220px;
  width: 100%;
  color: #000000;
  text-align: right;
  line-height: 1.4em;
  background-color: #ffffff;
  font-size: 16px;

  margin-top: 175px;
}
.snip1482 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482 img {
  position: absolute;
  right: 7%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

}
.snip1482 figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;

}
.snip1482 h2,
.snip1482 p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;

}
.snip1482 h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.snip1482 p {
  font-size: 0.8em;
}
.snip1482 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482:hover img,
.snip1482.hover img {
  width: 55%;
  right: -10%;
}
.snip1482:hover figcaption h2,
.snip1482.hover figcaption h2,
.snip1482:hover figcaption p,
.snip1482.hover figcaption p {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}

/* SPIN LEFT */

@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@import url(https://fonts.googleapis.com/css?family=Fauna+One);
.snip1482-left {
  font-family: 'Fauna One', Arial, sans-serif;
  position: relative;
  margin: 10px 20px;
  min-width: 230px;
  max-width: 400px;
  min-height: 220px;
  width: 100%;
  color: #000000;
  text-align: left;
  line-height: 1.4em;
  background-color: #ffffff;
  font-size: 16px;

  margin-top: 175px;
}

.snip1482-left:first-child{
   padding-top: 0;
}

.snip1482-left * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1482-left img {
  position: absolute;
  left: 7%;
  top: 50%;
  opacity: 1;
  width: 100%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);

}
.snip1482-left figcaption {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 20px 0 20px 20px;

}
.snip1482-left h2,
.snip1482-left p {
  margin: 0;
  width: 100%;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  opacity: 0;

}
.snip1482-left h2 {
  font-family: 'Playfair Display', Arial, sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
.snip1482-leftp {
  font-size: 0.8em;
}
.snip1482-left a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1482-left:hover img,
.snip1482-left.hover img {
  width: 55%;
  left: -10%;
}
.snip1482-left:hover figcaption h2,
.snip1482-left.hover figcaption h2,
.snip1482-left:hover figcaption p,
.snip1482-left.hover figcaption p {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 1;
}





/* špekulácie */
@keyframes headerAnimation {
    0% {
        background-color: #afafaf; /* Počiatočná farba pozadia */
    }
    50% {
        background-color: #238d41; /* Farba pozadia počas animácie */
    }
    100% {
        background-color: #a7a7a7; /* Farba pozadia po skončení animácie */
    }
}
.header-animation {
    animation: headerAnimation 4s ease forwards; /* Animácia premeny farby pozadia */
}